<h1>Artists</h1>

<% @artists.each do |artist| %>

  <p><%= image_tag artist.photo.image %><%= link_to artist.name, artist_path(artist.id) %></p>

<% end %>

  <%= link_to "Order name Ascending", artists_path, {action: Artist.descenderOff} %>
  <%= link_to "Order name Descending", artists_path, {action: Artist.descender} %>
